<div class="container pt-4">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card text-center">
                <div class="card-body">
                    <h3>Agregar Materia</h3>
                    <form class="mt-4" [formGroup]="materiaForm" (ngSubmit)="guardarMateria()">
                        <div class="row mt-3">
                            <div class="col">
                                <input type="text" class="form-control form-control-lg" placeholder="Nombres" formControlName="nombre">
                                <small *ngIf="materiaForm.get('nombre')?.invalid && materiaForm.get('nombre')?.touched" class="text-danger">
                                    El nombre es obligatorio.
                                  </small>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col">
                                <input type="number" class="form-control form-control-lg" placeholder="Creditos" formControlName="creditos">
                                <small *ngIf="materiaForm.get('creditos')?.invalid && materiaForm.get('creditos')?.touched" class="text-danger">
                                    Los créditos son obligatorios y deben ser un número.
                                  </small>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col">
                                  <select id="profesorId" class="form-control" formControlName="profesorId" required>
                                    <option value="" disabled selected>Seleccione un profesor</option>
                                    <option *ngFor="let profesor of profesores" [value]="profesor.id">
                                      {{ profesor.nombre }}
                                    </option>
                                  </select>
                                  <div *ngIf="materiaForm.get('profesorId')?.invalid && materiaForm.get('profesorId')?.touched" class="text-danger">
                                    El profesor es obligatorio.
                                  </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col d-flex justify-content-between mt-3">
                                <button type="text" class="btn btn-secondary btn-lg" routerLink="/lista-materias">Volver</button>
                                <button type="submit" class="btn btn-dark btn-lg">Agregar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

    